.inputDefault {
    margin: 5px 0;
    padding: 10px 15px;
    width: 100%;
    outline: none;
    border: 2px solid rgba(31, 79, 45, 0.53);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;

}