.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.vh-100 {
    height: 100vh;
}

ul li {
    list-style: none;
}

li {
    margin-bottom: 1rem;
}

header {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav > li {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font: bolder 1rem Arial, sans-serif;
    color: black;
}

.nav > li:not(:last-child) {
    margin-right: 0.5rem;
}

.nav a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.nav li:has(> a.active) {
    background: blue;
    color: aliceblue;
}

.wrapper {
    max-width: 87.5rem;
    margin: 0 auto;
}

h1 {
    font-size: 4.5rem;
}

.factors {
    max-width: 30rem;
    margin: 0 auto;
    padding: .5rem;
    box-sizing: border-box;
}

.factors-list h5 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.profile {
    max-width: 40rem;
    margin: 0 auto;
}

.profile-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.profile-form input {
    margin: 1rem 0;
}

.profile-photo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-photo__main {
    flex: 1;
    margin-right: 1rem;
}

.profile-photo__other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 2;
}

.profile-photo__main img,
.profile-photo__other img {
    /*width: 200px;*/
    /*height: 200px;*/
    padding-bottom: 2rem;
}
